</main>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">Bakdauren Narbayev</small>
      <small class="d-block mb-3 text-muted">&copy; 06.05.2021</small>
    </div>
    <div class="col-6 col-md">
      <h5>Продукция</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Сталь</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Алюминий</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Железо</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Заказчики</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">ТОО "ВагонСтрой"</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">ТОО "Ұшақ Құрылыс"</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">ТОО "Metal House"</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>О нас</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Команда</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Локации</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Контакты</a></li>
      </ul>
    </div>
  </div>
</footer>
</div>

</body>
</html>
