<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Продукция</h1>
  <p class="fs-5 text-muted">Фабрика "Стальные Изделия" работает на промышленном рынке более 20 лет. Фабрика реализует три вида продукции: сталь, алюминий и железо. Если Вы являетесь нашим постоянным заказчиком, то на этой странице Вы сможете заказать продукцию нашей фабрики.</p>
</div>